@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #061237;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #1855F1;
  --color-dark: #081A51;
  --color-display: var(--foreground);
  --color-body: #2C4673;

  --font-sans: "Geist", sans-serif;
}


body {
  background: var(--background);
  color: var(--color-body);
  font-family: "Geist", sans-serif;;
}



.btn-secondary {
  position: relative;
}