@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #061237;
	--surface: #f5fbff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-surface: var(--surface);

	--color-primary: #1855f1;
	--color-dark: #081a51;
	--color-display: var(--foreground);
	--color-body: #2c4673;

	--font-sans: "Geist", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background: var(--background);
	color: var(--color-body);
	font-family: "Geist", sans-serif;
}

.btn-secondary {
	position: relative;
}
